@model IEnumerable<GlobalCityManager.Models.City>
<div class="row">
    
        <h2>Cities list</h2>
    
    
        <a href='@Url.Action("Create")' class="btn btn-info btn-circle btn-sm" data-toggle="tooltip" data-placement="right" title="Add a new city" style="margin-top:0.4rem;margin-left:2rem;">
            <i class="fa fa-plus" style="font-size:1rem;"></i>
        </a>
    
</div>
<div class="container tableFixHead">
    <table class="table table-hover">
        <thead>
            <th>ID</th><th>Name</th><th>Population</th><th>District</th><th>Country</th><th>Edit</th>
        </thead>
        @foreach (var ct in Model)
        {
            @Html.Partial("_CityList",ct)        
        }
    </table>
</div>
<script type="text/javascript">
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>