/* body {
    padding-top: 50px;
    padding-bottom: 20px;
} */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin: 0 15px;
    
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.xyz { 
    background-size: auto; 
    text-align: center; 
    padding-top: 100px; 
} 
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
}
.personal-centered-footer{
    position: fixed;
    bottom:0;
    left:0;
    display: block;
    background-color: #AAB5A8;
    min-width: 100%;
    height: 3rem;
}
.personal-centered-footer .footer-text{
    position: relative;
    top:0.8rem;
    text-align: center;
} 
.table-header{
    background-color: #F8F9FA;
}
.tableFixHead          { overflow-y: auto; height: 70vh; }
.tableFixHead thead th { position: sticky; top: 0; }
/* table  { width: 100vw; } */
th, td { padding: 1em 2em; min-height: 1em;}
th     { background: #F8F9FA; }
img.image{
    max-width: 150px;
    max-height: 150px;
}